<div>
  <form id="chart-form">
    <table id="pattern-table">
      {{#each cellData}}
        <tr class="row-header" id="{{@key}}">
           {{#each this}}
            {{#if @key = 0 && @index = 0}}
              <td>{{@key}}{{@index}}</td>
              {{#else}}
              <td><input id="cell{{@key}}{{@index}}" value="{{this}}"/></td>
              {{/if}}
            {{/each}}
        </tr>
      {{/each}}
    </table>
  </form>
</div>
