<div>
  <form id="chart-form">
    <table id="pattern-table">
      {{#if headerRow}}
        <tr class="headerRow">
          {{#each headerRow}}
            <td>
              {{this}}
            </td>
          {{/each}}
        </tr>
      {{/if}}
      {{#each cellData}}
        <tr id="{{@key}}">
          {{#each this}}
            <td>
              <input id="cell{{@key}}{{index}}" value="{{this}}" />
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </table>
  </form>
</div>
